.container>*{
    border: 3px solid gold;
    background-color: rgb(224, 196, 125);
    padding: 30px;
}

header{
    grid-area: header;
}
nav{
    grid-area: navber;
}
main{
    grid-area: main;
}
#sideber{
    grid-area: sideber;
}
#adverter{
    grid-area: adverter;
}
footer{
    grid-area: footer;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header header header header"
    "navber main main sideber"
    "navber main main adverter"
    "footer footer footer footer"

}

@media screen and (max-width:576px) {
    .container{
    grid-template-areas:
    "header"
    "navber "
    "main"
    "sideber"
    "adverter"
    "footer"

}  
}
@media screen and (max-width:576px) and (max-width:992px) {
    .container{
    grid-template-areas:
    "header    header header"
    "navber    navber navber "
    " sideber  main main"
    "adverter footer footer"
    }
}